/*------------------------------------------------------------------
[Custom Template Stylesheet]

Project:	Morsel Restaurant - Onepage Html Responsive Template
Version:	1.1
Primary use:	Morsel Restaurant - Onepage Html Responsive Template 
-------------------------------------------------------------------*/

/*add your style css here*/

.text-justify{
	text-align:justify;
}
.pl-20{
	padding-left:25px !important;
}